:root{
    --primary-color:#CC0000;    
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --border-color:#dbdbdb;

    --header-height:120px;
    --navbar-height:80px;
    --header-with-search-height : calc(var(--header-height) - var(--navbar-height) + 50px);
}

*{
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.grid{
    width: 95%; 
    max-width: 100%;
    margin:0 auto;
}
.grid__full-width{
    width: 100%;
}
.grid__row{
    display: flex;
    flex-wrap: wrap; 
    margin-left: -5px;
    margin-right: -5px;
}
.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}
.grid__column-6{
    padding-left: 5px;
    padding-right: 5px;
    width: 16%;
    
}
.grid__column-2-4{
    padding-left: 10px;
    padding-right: 10px;
    width: 24%;
}
.grid__column-2-4-new{
    padding-left: 5px;
    padding-right: 5px;
    width: 18%;
    margin-left: 20px;
}
.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.33334%;
}
p {
    font-size: 1.6rem;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
/* MODAL BASE  */
.modal{
    position: fixed;
    top :0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    display: none;
}
.modal__overlay{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    
}
.modal__body{
    height: 500px;
    width: 600px;
    background-color:var(--white-color) ;
    margin:auto;
    z-index: 3;
    border-radius: 5px;
    --growth-from : 0.7;
    --growth-to :1;
    animation:Growth linear 0.3s;
}
/* BUTTON STYLE */
.btn{
    min-width: 124px;
    height: 36px;
    border-radius: 2px;
    border: none;
    font-size: 1.5rem;
    padding: 0 32px;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center ;
    line-height: 1.6rem;
}
.btn.btn--normal:hover{
    background-color: rgba(0,0,0,0.1);
}
.btn.btn--size-s{
    height: 32px;
    font-size: 12px;
}
.btn.btn--primary{
    color: var(--white-color);
    background-color: var(--primary-color);
}
.btn.btn--disable{
    cursor: default;
    background-color: #999;

}
.see-more{
    position: absolute;
    right: 170px;
    top: -20px;
    font-size: 26px;
    border: 2px solid #3f3f3f;
    padding: 16px 28px;
    cursor: pointer;
}
/* ANIMATION */
@keyframes FadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes Growth{
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}