@import url('http://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}







.header__search-input-wrap{
    flex:1;
    height: 100%;
}
.header__search-input{
    width: 100%;
    height: 100%;
    font-size: 1.4rem;
    padding: 0 16px;
    outline: none;
    border: none;
    border-radius: 2px;
}
.header__search-select{
    position: relative;
    border-left: 1px solid #ccc;
    padding: 0 4px 0 0;
    
}
.header__search-select:hover .header__search-option{
    display: block;
}
.header__search-lable{
    font-size: 1.4rem;
    margin: 0 8px 0 8px;
}
.header__search-label-icon{
    font-size: 1rem;
}
.header__search-option{
    position: absolute;
    top : 100%;
    right:0;
    padding:0;
    display: none;
    animation: FadeIn ease-in 0.15s;
}
.header__search-option::after{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 20px;
    top:-10px;
    right:0;
}
.header__search-option-item{
    background-color: var(--white-color);
    width: 110px;
    text-align: right;
    padding: 4px;
    border-radius: 2px;
    box-shadow: 0 0 2px var(--black-color);
}
.header__search-option-item:hover{
    background-color: #e9dbdb;
}
.header__search-option-text{
    font-size: 1.4rem;
    margin-right: 8px;
}
.header__search-option-icon{
    font-size: 1.4rem;
    color: var(--primary-color);
    display: none;
}
.header__search-btn{
    background-color: var(--primary-color);
    border:none;
    height: 28px;
    width: 60px;
    padding: 0 16px;
    border-radius: 3px;
    margin: 0 3px 0 12px;
}
.header__search-btn-icon{
    font-size: 1.4rem;
    color: var(--white-color);
}
/* HISTORY SEARCH */
.header__search-history{
    background-color: var(--white-color);
    width: calc(100% - 12px);
    display: none;
    z-index: 1;
}
.header__search-history-list{
    border-radius: 3px;
    padding-left: 0;
    box-shadow: 0 1px 2px #999;
}
.header__search-history-heading{
    
    font-size: 1.4rem;
    padding: 4px 0;
    margin-bottom: 4px;
    padding-left: 16px;
}
.header__search-history-item{
    font-size: 1.4rem;
    padding: 4px 0;
    padding-left: 16px;
}
.header__search-history-item:hover{
    background-color: rgb(255, 247, 247);
}
.header__search-input:focus + .header__search-history{
    display: block;
}



.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(#E2F3FF,rgba(74, 153, 211, 0));
    column-gap: 30px;
}
.form {
    position: absolute;
    max-width: 600px;
    width: 100%;
    padding: 30px;
    border-radius: 40px;
    background: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.form.signup {
    opacity: 0;
    pointer-events: none;
}
.forms.show-signup .form.signup{
    opacity: 1;
    pointer-events: auto;
}
.forms.show-signup .form.login{
    opacity: 0;
    pointer-events: none;
}
header {
    font-size: 28px;
    font-weight: 600;
    color: #0070AE;
    text-align: center;
}
form {
    margin-top: 30px;
}
.form .field {
    position: relative;
    height: 50px;
    width: 75%;
    margin: 20px auto;
    border-radius: 6px;
}

.field input,
.field button {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}

.field input{
    outline: none;
    padding: 0 15px;
    border: 1px solid  #CACACA;
    background-color: #D9D9D9;
    border-radius:20px;
}
.field input:focus{
    border-bottom-width: 2px;
}
.eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    /* đẩy lên trên */
    transform: translateY(-50%); 
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;

}
.field button {
    color: #fff;
    background-color: #0070AE;
    transition: all 0.3s ease;
    cursor: pointer;
}
.field button:hover {
    background-color: #045986;
}
.form-link {
    text-align: center;
    margin-top: 10px;
}
.form-link span,
.form-link a {
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}
.form a {
    color: #0070AE;
    text-decoration: none;
}

.form-content a:hover{
    text-decoration: underline;
}
.line {
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #d4d4d4;
}
.line::before{
    content: 'Or';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    color: #8b8b8b;
    padding: 0 15px;
}

.media-options a{
    display: flex;
    align-items: center;
    justify-content: center;
}
a.facebook {
    color: #fff;
    background-color: #D9D9D9;
}
a.facebook .facebook-icon {
    height: 28px;
    width: 28px;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #15A2FA;
}
.facebook-icon,
img.google-img {
    position: absolute;
    top:50%;
    left: 15px;
    transform:translateY(-50%);
}
img.google-img{
    height: 25px;
    width: 25px;
    object-fit: cover;
}
a.google {
    border: 1px solid #CACACA;
}
a.google span {
    font-weight: 500;
    opacity: 0.6;
    color: #232836;
}

@media screen and (max-width: 400px){
    .form{
        padding: 15px 10px;
    }
}



/* FOOTER */

.footer{
    background-image: linear-gradient(180deg,#003459 0%,#0070AE 100%);
    height: 360px;
    width: 100%;
    padding: 50px;
    margin-top: -50px;
}
.footer_grid_column{
    width: 40%;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    margin-right: 60px;
    top: -36px;
}
.footer-img{
    position: absolute;
    top: -50px;
    left: 0;
    width: 65%;
}
.footer__contact-list{
    padding: 0;
}
.footer__contact-heading{
    font-size: 22px;
    font-weight: 500;
    color: white;
    padding: 50px 140px 20px 50px;
    display: block;
}
.footer__contact-email{
    display: flex;
    padding: 0 120px 0 50px;
}
.footer__contact-email-input{
    font-size: 19px;
    height: 50px;
    border-radius: 6px;
    padding: 10px 20px;
    width: 285px;
}
.footer__contact-dowload{
    display: flex;
    padding: 0 120px 0 50px;
    justify-content: space-between;
    margin-top: 30px;
}
.grid{
    width: 95%; 
    max-width: 100%;
    margin:0 auto;
}
.grid__full-width{
    width: 100%;
}
.grid__row{
    display: flex;
    flex-wrap: wrap; 
    margin-left: -5px;
    margin-right: -5px;
}