<footer class="footer">
            <div class="grid">
                <div class="grid__row">
                    <div class="footer_grid_column">
                        <img src="/imgg/img/footer-logo.png" alt="" class="footer-img">
                    </div>
                    <div class="footer_grid_column">
                        <div class="footer__contact">
                            <span class="footer__contact-heading">
                                ABOUT US
                            </span>
                            <ul class="footer__contact-list">
                                <li class="footer__contact-item">
                                    <a href="" class="footer__contact-link">Giới thiệu về trang web</a>
                                </li>
                                <li class="footer__contact-item">
                                    <a href="" class="footer__contact-link">Giới thiệu về trang web</a>
                                </li>
                                <li class="footer__contact-item">
                                    <a href="" class="footer__contact-link">Giới thiệu về trang web</a>
                                </li>
                                <li class="footer__contact-item">
                                    <a href="" class="footer__contact-link">Giới thiệu về trang web</a>
                                </li>
                                <li class="footer__contact-item">
                                    <a href="" class="footer__contact-link">Giới thiệu về trang web</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer_grid_column">
                        <div class="footer__contact">
                            <span class="footer__contact-heading">
                                ABOUT US
                            </span>
                            <ul class="footer__contact-list">
                                <li class="footer__contact-item">
                                    <a href="" class="footer__contact-link">Giới thiệu về trang web</a>
                                </li>
                                <li class="footer__contact-item">
                                    <a href="" class="footer__contact-link">Giới thiệu về trang web</a>
                                </li>
                                <li class="footer__contact-item">
                                    <a href="" class="footer__contact-link">Giới thiệu về trang web</a>
                                </li>
                                <li class="footer__contact-item">
                                    <a href="" class="footer__contact-link">Giới thiệu về trang web</a>
                                </li>
                                <li class="footer__contact-item">
                                    <a href="" class="footer__contact-link">Giới thiệu về trang web</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer_grid_column">
                        <div class="footer__contact">
                            <span class="footer__contact-heading">
                                ABOUT US
                            </span>
                            <ul class="footer__contact-list">
                                <li class="footer__contact-item">
                                    <a href="" class="footer__contact-link">Giới thiệu về trang web</a>
                                </li>
                                <li class="footer__contact-item">
                                    <a href="" class="footer__contact-link">Giới thiệu về trang web</a>
                                </li>
                                <li class="footer__contact-item">
                                    <a href="" class="footer__contact-link">Giới thiệu về trang web</a>
                                </li>
                                <li class="footer__contact-item">
                                    <a href="" class="footer__contact-link">Giới thiệu về trang web</a>
                                </li>
                                <li class="footer__contact-item">
                                    <a href="" class="footer__contact-link">Giới thiệu về trang web</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>