<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/font/fontawesome-free-6.2.0-web/css/all.min.css">
    <link rel="stylesheet" href="/css/live.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <img src="/img/headerWebLive.png" alt="" class="header__logo">
        <p style="font-size: 32px;
        color: white;
        margin-top: 40px;
        margin-right: 30px;">H3TP LIVESTREAM
        </p>
        <input type="text" name="" id="" class="header__search" placeholder="Tìm kiếm video,tài khoản">
        <div style="    position: relative;
        width: 60px;
        height: 57px;
        margin-top: 33px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        background-color: #0070AE;">
            <i class="fa-solid fa-magnifying-glass" style="position: absolute;
            top: 12px;
            left: 12px;
            font-size: 35px;
            color: white;"></i>
        </div>
        <img src="/img/cartWebLive.png" alt="" class="header__cart">
        <div class="header__account">
            anhth
        </div>
    </div>
    <div class="container-wrapper" style="    margin-top: 120px;">
        <div class="navbar-list">
            <p style="color: black;
            font-size: 28px;
            font-weight: 700;
            text-align: center;
                ">Danh mục</p>
            <div style="height: 2px;
            width: 165px;
            background: #AF9F9F;
            margin: 0 auto 20px;"></div>
        <a href="" class="navbar-list__item">Thời trang nam</a>
        <a href="" class="navbar-list__item">Điện thoại & phụ kiện</a>
        <a href="" class="navbar-list__item">Thiết bị điện tử</a>
        <a href="" class="navbar-list__item">Máy tính & laptop</a>
        <a href="" class="navbar-list__item">Máy ảnh & máy quay phim</a>
        <a href="" class="navbar-list__item">Đồng hồ</a>
        <a href="" class="navbar-list__item">Mẹ và bé</a>
        <a href="" class="navbar-list__item">Thức ăn</a>
        <a href="" class="navbar-list__item">Thực phẩm</a>
        </div>
        <div class="navbar-container-body">
            <div class="navbar-container__carousal-banner">
                <img src="/img/liveBanner.png" alt="" style="    width: 1000px;
                height: 290px;">
                <img src="/img/liveSubBanner.png" alt="" style="    object-fit: contain;    width: 1000px;
                height: 290px;margin-top: 10px;">
            </div>
            <div class="livestream__suggest-grid" style="margin-left:0;width:1000px;"> 
                    
                <a href="/livestreamPage" class="livestream__suggest-column">
                    <div class="livestream__suggest-live">
                        <div style="height: 100%;
                        width: 169px;
                        background: white;
                        margin: auto;
                        position: relative;"><p style="    position: absolute;
                    top: 200px;
                    right: -99px;
                    font-weight: 700;
                    font-size: 26px;
                    background: #CD0000;
                    color: white;
                    padding: 8px 20px;
                    border-radius: 8px;">LIVE</p></div>
                    </div>
                    <div class="livestream__suggest-account">
                        <div style="height: 50px;
                        width: 50px;
                        background: #D9D9D9;
                        border-radius: 100%;
                        margin: 15px 20px;">
                        </div>
                        <div>
                            <p style="font-size: 24px;
                            font-weight: 700;
                            margin:14px 0 0;">GIẢM SỐC!!!! Tặng mã giảm giá</p>
                            <p style="margin:0;font-weight: 500;">jhoang</p>
                        </div>
                    </div>
                </a>
            
                <a href="/livestreamPage" class="livestream__suggest-column">
                    <div class="livestream__suggest-live">
                        <div style="height: 100%;
                        width: 169px;
                        background: white;
                        margin: auto;
                        position: relative;"><p style="    position: absolute;
                    top: 200px;
                    right: -99px;
                    font-weight: 700;
                    font-size: 26px;
                    background: #CD0000;
                    color: white;
                    padding: 8px 20px;
                    border-radius: 8px;">LIVE</p></div>
                    </div>
                    <div class="livestream__suggest-account">
                        <div style="height: 50px;
                        width: 50px;
                        background: #D9D9D9;
                        border-radius: 100%;
                        margin: 15px 20px;">
                        </div>
                        <div>
                            <p style="font-size: 24px;
                            font-weight: 700;
                            margin:14px 0 0;">GIẢM SỐC!!!! Tặng mã giảm giá</p>
                            <p style="margin:0;font-weight: 500;">jhoang</p>
                        </div>
                    </div>
                </a>
            
                <a href="/livestreamPage" class="livestream__suggest-column">
                    <div class="livestream__suggest-live">
                        <div style="height: 100%;
                        width: 169px;
                        background: white;
                        margin: auto;
                        position: relative;"><p style="    position: absolute;
                    top: 200px;
                    right: -99px;
                    font-weight: 700;
                    font-size: 26px;
                    background: #CD0000;
                    color: white;
                    padding: 8px 20px;
                    border-radius: 8px;">LIVE</p></div>
                    </div>
                    <div class="livestream__suggest-account">
                        <div style="height: 50px;
                        width: 50px;
                        background: #D9D9D9;
                        border-radius: 100%;
                        margin: 15px 20px;">
                        </div>
                        <div>
                            <p style="font-size: 24px;
                            font-weight: 700;
                            margin:14px 0 0;">GIẢM SỐC!!!! Tặng mã giảm giá</p>
                            <p style="margin:0;font-weight: 500;">jhoang</p>
                        </div>
                    </div>
                </a>
            
                <a href="/livestreamPage" class="livestream__suggest-column">
                    <div class="livestream__suggest-live">
                        <div style="height: 100%;
                        width: 169px;
                        background: white;
                        margin: auto;
                        position: relative;"><p style="    position: absolute;
                    top: 200px;
                    right: -99px;
                    font-weight: 700;
                    font-size: 26px;
                    background: #CD0000;
                    color: white;
                    padding: 8px 20px;
                    border-radius: 8px;">LIVE</p></div>
                    </div>
                    <div class="livestream__suggest-account">
                        <div style="height: 50px;
                        width: 50px;
                        background: #D9D9D9;
                        border-radius: 100%;
                        margin: 15px 20px;">
                        </div>
                        <div>
                            <p style="font-size: 24px;
                            font-weight: 700;
                            margin:14px 0 0;">GIẢM SỐC!!!! Tặng mã giảm giá</p>
                            <p style="margin:0;font-weight: 500;">jhoang</p>
                        </div>
                    </div>
                </a>
        
            </div>
                <p style="color: black;
                    font-size: 30px;
                    font-weight: 500;
                    margin-top: 100px;text-align: center;">Xem thêm...</p>
        </div>
        <div class="navbar-follow">
            <p style="color: black;
            font-size: 28px;
            font-weight: 700;
            text-align: center;
                ">Đang theo dõi</p>
            <div style="height: 2px;
            width: 165px;
            background: #AF9F9F;
            margin: 0 auto 20px;"></div>
            <p style="text-align: center;
            margin: 0;
            color: black;">Bạn chưa theo dõi cửa hàng nào</p>
            <p style="text-align: center;
            margin: 0;
            color: black;">Khám phá các cửa hàng live</p>
        </div>
    </div>
    <footer class="footer">
        <div class="grid">
            <div class="grid__row" style="justify-content:space-between ;">
                <div class="footer_grid_column">
                    <img src="/img/footer-logo.png" alt="" class="footer-img">
                </div>
                
                <div class="footer_grid_column" style="    margin: 50px 50px 0 50px;">
                    <div class="footer__contact">
                        <span class="footer__contact-heading">
                            Subsribe to our newsletter and be the first to know about our updates
                        </span>
                        <div class="footer__contact-email">
                            <input type="text" placeholder="Email Address" class="footer__contact-email-input">
                            <p style="color: #4A99D3;
                            background: white;
                            padding: 10px 32px;
                            font-weight: 900;
                            border-radius: 6px;
                            margin-left: 20px;
                            line-height: 30px;cursor: pointer;">Subsribe</p>
                        </div>
                        <div class="footer__contact-dowload">
                            <img src="/img/googleplay.png" alt="" style="    width: 196px;
                            height: 62px;cursor: pointer;">
                            <img src="/img/appstore.png" alt="" style="    width: 196px;
                            height: 62px;cursor: pointer;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>