<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/font/fontawesome-free-6.2.0-web/css/all.min.css">
    <link rel="stylesheet" href="/css/live.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="app">
        <div class="header">
            <img src="/img/headerWebLive.png" alt="" class="header__logo">
            <p style="font-size: 32px;
            color: white;
            margin-top: 40px;
            margin-right: 30px;">H3TP LIVESTREAM
            </p>
            <input type="text" name="" id="" class="header__search" placeholder="Tìm kiếm video,tài khoản">
            <div style="    position: relative;
            width: 60px;
            height: 57px;
            margin-top: 33px;
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
            background-color: #0070AE;">
                <i class="fa-solid fa-magnifying-glass" style="position: absolute;
                top: 12px;
                left: 12px;
                font-size: 35px;
                color: white;"></i>
            </div>
            <img src="img/cartWebLive.png" alt="" class="header__cart">
            <div class="header__account">
                anhth
            </div>
        </div>
        <div class="container-wrapper">
            <div class="navbar">
                <p style="    color: black;
                font-size: 36px;
                padding-top: 150px;
    
                font-weight: 600;
                text-align: center;
                ">Cửa hàng LIVE</p>
                <div style="height: 2px;
                width: 205px;
                background: #AF9F9F;
                margin: 0 auto;"></div>
                <div class="navbar__product">
                    <div class="navbar__product__item">
                        <img src="/img/productweb.jpeg" alt="" class="navbar__product__item-img">
                        <div class="navbar__product__description">
                            <p class="navbar__product__description-name">Miến dong</p>
                            <p class="navbar__product__description-brand">CTY Phan Hoàng</p>
                            <p class="navbar__product__description-origin-price">60.000đ</p>
                            <p class="navbar__product__description-new-price">49.000đ</p>
                            <div class="buy-immediately">
                                <p style="background: #003459;
                                color: white;
                                padding: 1px 6px;">Mua ngay</p>
                                <i class="fa-solid fa-cart-shopping" style="    border: 1px solid black;
                                padding: 4px;"></i>
                            </div>
                        </div>
                    </div>

                    <div class="navbar__product__item">
                        <img src="/img/productweb.jpeg" alt="" class="navbar__product__item-img">
                        <div class="navbar__product__description">
                            <p class="navbar__product__description-name">Miến dong</p>
                            <p class="navbar__product__description-brand">CTY Phan Hoàng</p>
                            <p class="navbar__product__description-origin-price">60.000đ</p>
                            <p class="navbar__product__description-new-price">49.000đ</p>
                            <div class="buy-immediately">
                                <p style="background: #003459;
                                color: white;
                                padding: 1px 6px;">Mua ngay</p>
                                <i class="fa-solid fa-cart-shopping" style="    border: 1px solid black;
                                padding: 4px;"></i>
                            </div>
                        </div>
                    </div>

                    <div class="navbar__product__item">
                        <img src="/img/productweb.jpeg" alt="" class="navbar__product__item-img">
                        <div class="navbar__product__description">
                            <p class="navbar__product__description-name">Miến dong</p>
                            <p class="navbar__product__description-brand">CTY Phan Hoàng</p>
                            <p class="navbar__product__description-origin-price">60.000đ</p>
                            <p class="navbar__product__description-new-price">49.000đ</p>
                            <div class="buy-immediately">
                                <p style="background: #003459;
                                color: white;
                                padding: 1px 6px;">Mua ngay</p>
                                <i class="fa-solid fa-cart-shopping" style="    border: 1px solid black;
                                padding: 4px;"></i>
                            </div>
                        </div>
                    </div>
    
                    
                </div>
                <div style="margin: 50px auto;
                text-align: center;
                font-size: 20px;">Xem thêm...</div>
                <p style="    color: black;
                font-size: 36px;
                padding-top: 50px;
    
                font-weight: 600;
                text-align: center;
                ">VOUCHER</p>
                <div style="height: 2px;
                width: 205px;
                background: #AF9F9F;
                margin: 10px auto;"></div>
                <div class="navbar__voucher">
                    <div class="navbar__voucher__item">
                        <div class="navbar__voucher__item-name">
                            Giảm 15k
                        </div>
                        <div class="navbar__voucher__item-description">
                            Áp dụng cho đơn hàng..
                        </div>
                        <p  style="margin:4px 0;">Xem chi tiết</p>
                        <p style="    position: absolute;
                        top: 12px;
                        right: 13px;
                        background: #2199F2;
                        padding: 4px 12px;
                        border-radius: 2px;
                        color: white;"> Lấy mã</p>
                    </div>
    
                    <div class="navbar__voucher__item">
                        <div class="navbar__voucher__item-name">
                            Giảm 20k
                        </div>
                        <div class="navbar__voucher__item-description">
                            Áp dụng cho đơn hàng..
                        </div>
                        <p  style="margin:4px 0;">Xem chi tiết</p>
                        <p style="    position: absolute;
                        top: 12px;
                        right: 13px;
                        background: #2199F2;
                        padding: 4px 12px;
                        border-radius: 2px;
                        color: white;"> Lấy mã</p>
                    </div>
    
                    <div class="navbar__voucher__item">
                        <div class="navbar__voucher__item-name">
                            Giảm 25k
                        </div>
                        <div class="navbar__voucher__item-description">
                            Áp dụng cho đơn hàng..
                        </div>
                        <p  style="margin:4px 0;">Xem chi tiết</p>
                        <p style="    position: absolute;
                        top: 12px;
                        right: 13px;
                        background: #2199F2;
                        padding: 4px 12px;
                        border-radius: 2px;
                        color: white;"> Lấy mã</p>
                    </div>
    
                    <div class="navbar__voucher__item">
                        <div class="navbar__voucher__item-name">
                            Giảm 10k
                        </div>
                        <div class="navbar__voucher__item-description">
                            Áp dụng cho đơn hàng..
                        </div>
                        <p  style="margin:4px 0;">Xem chi tiết</p>
                        <p style="    position: absolute;
                        top: 12px;
                        right: 13px;
                        background: #2199F2;
                        padding: 4px 12px;
                        border-radius: 2px;
                        color: white;"> Lấy mã</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="livestream">
                    <div class="livestream-main">
                        <div class="livestream-header">
                            <img src="/" alt="" class="livestream-header__logo">
                            <div class="livestream-header__description">
                                <p style="margin:0">CTY PH</p>
                                <p style="    margin: 10px 0;">Xả kho cuối năm</p>
                            </div>
                            <i class="fa-regular fa-share-from-square" style="font-size: 30px;
                            color: white;
                            margin-left: 260px;"></i>
                            <i class="fa-solid fa-ellipsis" style="color: white;
                            font-size: 30px;
                            padding: 0 30px;"></i>
                            <p style="font-size: 18px;
                            background: #F24747;
                            padding: 6px 18px;
                            color: white;">Theo dõi</p>
                        </div>
                        <div class="livestream-video">
                            <video src="/imgg/img/livestream.mp4" controls></video>
                        </div>
                    </div>
                    <div class="livestream-chat">
                        <p style="    color: black;
                        font-size: 36px;
                        padding-top: 30px;
                        font-weight: 600;
                        text-align: center;">LIVE CHAT</p>
                        <div style="height: 2px;
                        width: 205px;
                        background: #AF9F9F;
                        margin: 0 auto;">
                        </div>
                        <div style="height: 2px;
                        width: 555px;
                        background: #AF9F9F;
                        margin: 490px auto 0;;"></div>
                        <div style="position: relative;">
                        <input type="text" style="width: 440px;
                        height: 50px;
                        margin-top: 19px;
                        background: #D9D9D9;
                        padding: 4px 10px;
                        margin-left: 30px;
                        font-size: 20px;
                        border: 1px solid #D9D9D9;" placeholder="Viết bình luận">
                        <i class="fa-solid fa-paper-plane" style="    font-size: 26px;
                        padding: 0px 20px 0;
                    "></i>
                        </div>
                    </div>
                </div>
    
                <div class="livestream__suggest">
                    <p style="color: black;
                    font-size: 36px;
                    font-weight: 600;
                    padding-left: 20px">Gợi ý</p>
                    <div class="livestream__suggest-grid">
                        
                        <div class="livestream__suggest-column">
                            <div class="livestream__suggest-live">
                                <div style="height: 100%;
                                width: 169px;
                                background: white;
                                margin: auto;
                                position: relative;"><p style="    position: absolute;
                            top: 200px;
                            right: -105px;
                            font-weight: 700;
                            font-size: 26px;
                            background: #CD0000;
                            color: white;
                            padding: 8px 20px;
                            border-radius: 8px;">LIVE</p></div>
                            </div>
                            <div class="livestream__suggest-account">
                                <div style="height: 50px;
                                width: 50px;
                                background: #D9D9D9;
                                border-radius: 100%;
                                margin: 15px 20px;">
                                </div>
                                <div>
                                    <p style="font-size: 24px;
                                    font-weight: 700;
                                    margin:14px 0 0;">GIẢM SỐC!!!! Tặng mã giảm giá</p>
                                    <p style="margin:0;font-weight: 500;">jhoang</p>
                                </div>
                            </div>
                        </div>

                        <div class="livestream__suggest-column">
                            <div class="livestream__suggest-live">
                                <div style="height: 100%;
                                width: 169px;
                                background: white;
                                margin: auto;
                                position: relative;"><p style="    position: absolute;
                            top: 200px;
                            right: -105px;
                            font-weight: 700;
                            font-size: 26px;
                            background: #CD0000;
                            color: white;
                            padding: 8px 20px;
                            border-radius: 8px;">LIVE</p></div>
                            </div>
                            <div class="livestream__suggest-account">
                                <div style="height: 50px;
                                width: 50px;
                                background: #D9D9D9;
                                border-radius: 100%;
                                margin: 15px 20px;">
                                </div>
                                <div>
                                    <p style="font-size: 24px;
                                    font-weight: 700;
                                    margin:14px 0 0;">GIẢM SỐC!!!! Tặng mã giảm giá</p>
                                    <p style="margin:0;font-weight: 500;">jhoang</p>
                                </div>
                            </div>
                        </div>

                        <div class="livestream__suggest-column">
                            <div class="livestream__suggest-live">
                                <div style="height: 100%;
                                width: 169px;
                                background: white;
                                margin: auto;
                                position: relative;"><p style="    position: absolute;
                            top: 200px;
                            right: -105px;
                            font-weight: 700;
                            font-size: 26px;
                            background: #CD0000;
                            color: white;
                            padding: 8px 20px;
                            border-radius: 8px;">LIVE</p></div>
                            </div>
                            <div class="livestream__suggest-account">
                                <div style="height: 50px;
                                width: 50px;
                                background: #D9D9D9;
                                border-radius: 100%;
                                margin: 15px 20px;">
                                </div>
                                <div>
                                    <p style="font-size: 24px;
                                    font-weight: 700;
                                    margin:14px 0 0;">GIẢM SỐC!!!! Tặng mã giảm giá</p>
                                    <p style="margin:0;font-weight: 500;">jhoang</p>
                                </div>
                            </div>
                        </div>

                        <div class="livestream__suggest-column">
                            <div class="livestream__suggest-live">
                                <div style="height: 100%;
                                width: 169px;
                                background: white;
                                margin: auto;
                                position: relative;"><p style="    position: absolute;
                            top: 200px;
                            right: -105px;
                            font-weight: 700;
                            font-size: 26px;
                            background: #CD0000;
                            color: white;
                            padding: 8px 20px;
                            border-radius: 8px;">LIVE</p></div>
                            </div>
                            <div class="livestream__suggest-account">
                                <div style="height: 50px;
                                width: 50px;
                                background: #D9D9D9;
                                border-radius: 100%;
                                margin: 15px 20px;">
                                </div>
                                <div>
                                    <p style="font-size: 24px;
                                    font-weight: 700;
                                    margin:14px 0 0;">GIẢM SỐC!!!! Tặng mã giảm giá</p>
                                    <p style="margin:0;font-weight: 500;">jhoang</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <p style="color: black;
                    font-size: 30px;
                    font-weight: 500;
                    padding-left: 20px;margin-left: 500px;">Xem thêm...</p>
                    
                </div>

            </div>
        </div>
        <footer class="footer">
            <div class="grid">
                <div class="grid__row" style="justify-content:space-between ;">
                    <div class="footer_grid_column">
                        <img src="/img/footer-logo.png" alt="" class="footer-img">
                    </div>
                    
                    <div class="footer_grid_column" style="    margin: 50px 50px 0 50px;">
                        <div class="footer__contact">
                            <span class="footer__contact-heading">
                                Subsribe to our newsletter and be the first to know about our updates
                            </span>
                            <div class="footer__contact-email">
                                <input type="text" placeholder="Email Address" class="footer__contact-email-input">
                                <p style="color: #4A99D3;
                                background: white;
                                padding: 10px 32px;
                                font-weight: 900;
                                border-radius: 6px;
                                margin-left: 20px;
                                line-height: 30px;cursor: pointer;">Subsribe</p>
                            </div>
                            <div class="footer__contact-dowload">
                                <img src="/img/googleplay.png" alt="" style="    width: 196px;
                                height: 62px;cursor: pointer;">
                                <img src="/img/appstore.png" alt="" style="    width: 196px;
                                height: 62px;cursor: pointer;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

</body>
</html>